.container {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;

    text-align: center;
}

.title {
    font-size: 32px;
    margin-bottom: 10px;
    color: #333;
}

.description {
    font-size: 18px;
    color: #666;
}